{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block content %}
 <h1>Dashboard</h1>
 <p>Welcome to your dashboard.You can <a href="{% url "edit" %}">edit 
    your profile</a> or <a href="{% url "password_change" %}">change your 
    password</a>.</p>
    
    {% for book in books %}
 <h2>
 <a href="{{ book.get_absolute_url }}">
 {{ book.title }}
 </a>
 </h2>
 <p class="date">
 Published {{ book.published_date }} by {{ book.author }}
 </p>
 {{ book.description|truncatewords:30|linebreaks }}
 {% endfor %}
 {% include "tags\pagination.html" with page=books %}
{% endblock %}